<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.robot.RobotPublisher>
      <outputPath></outputPath>
      <reportFileName></reportFileName>
      <logFileName></logFileName>
      <outputFileName></outputFileName>
      <disableArchiveOutput>false</disableArchiveOutput>
      <passThreshold>40.0</passThreshold>
      <unstableThreshold>30.0</unstableThreshold>
      <onlyCritical>true</onlyCritical>
    </hudson.plugins.robot.RobotPublisher>
  </publishers>
  <buildWrappers/>
</project>
